<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time Display</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <h1>What time is it right now?</h1>
    <hr class="line">
    <div class="container">
      <p>The current time and date is:</p>
      <h2>{{date}} {{time}}</h2>
    </div>

  </body>
</html>